[submodule "public/js/dojo"]
	path = public/js/dojo
	url = https://github.com/dojo/dojo.git
[submodule "public/js/dojox"]
	path = public/js/dojox
	url = https://github.com/dojo/dojox.git
[submodule "public/js/dijit"]
	path = public/js/dijit
	url = https://github.com/dojo/dijit.git
[submodule "lib/zf"]
	path = lib/zf
	url = https://github.com/zendframework/zf2.git
