/**
 * Multi Tracker Kanban Board
 *
 * 2011, 2012 - Lucas S. Bickel <hairmare@purplehaze.ch>
 * Alle Rechte vorbehalten
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published 
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-image: url('http://subtlepatterns.com/patterns/polaroid.png');
}

.designPanel {
    background-image: url('http://subtlepatterns.com/patterns/furley_bg.png');
    font-family: 'Ruda', sans-serif;
}
.darkBar {
    background-image: url('http://subtlepatterns.com/patterns/rubber_grip.png');
    border-radius: 6px;
    color: white;
    font-family: 'Ruda', sans-serif;
}
.darkBar h1 {
    font-weight: 900;
    font-size: 18pt;
    padding-left: 1em;
}
.darkBar option {
    color: black;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
#boardTable {
    width: 100%;

    /* override settings from dojo that made for strange 100% height bug */
    background: url('http://subtlepatterns.com/patterns/furley_bg.png');
}
